<div class="left">
    <h4>Flat Barbell Chest Press</h4>
    
    <iframe width="653" height="380" src="https://www.youtube.com/embed/rIbrv2QOn2A" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
      
  </div>
  <div class="right">
    <h4>Incline Barbell Chest Press</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/qNzGe-lRs_4" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  
  <div class="left">
    <h4>Straight-arm Dumbbell Pullover</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/fI8IZ2V88mo" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class="right">
    <h4>Dumbbell Fly</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/4aWFbic3KBg" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  