<div class="left">
    <h4>Tricep Dips</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/rzxS4UKAaYI" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
      
  </div>
  <div class="right">
    <h4>Tricep V-bar pushdowns</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/BnICSQYSX3M" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  
  <div class="left">
    <h4>Lying Barbell Tricep Extensions</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/QZkeQ2gapIk" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class="right">
    <h4>One Arm Triceps Kick-backs
      
    </h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/ZO81bExngMI" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  