<div class="left">
  <h4>Bicep Curls</h4>
  <iframe width="653" height="380" src="https://www.youtube.com/embed/uO_CNYidOw0" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
<div class="right">
  <h4>Cable Curls</h4>
  <iframe width="653" height="380" src="https://www.youtube.com/embed/AsAVbj7puKo" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>

<div class="left">
  <h4>Dumbbell Hammer Curls</h4>
  <iframe width="653" height="380" src="https://www.youtube.com/embed/zC3nLlEvin4" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
<div class="right">
  <h4>Seated Inclined Dumbbell Curls</h4>
  <iframe width="653" height="380" src="https://www.youtube.com/embed/-vZbnOSZqfc" frameborder="0" allow="autoplay; encrypted-media"
    allowfullscreen></iframe>
</div>
