<div class="left">
    <h4>Barbell Back Squat</h4>    
    <iframe width="653" height="380" src="https://www.youtube.com/embed/KTXaG4MYvAM" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
      
  </div>
  <div class="right">
    <h4>Barbell Front Squat</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/HQe_XotTRC8" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  
  <div class="left">
    <h4>Barbell Lunges</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/BWY0x9Cbb3U" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class="right">
    <h4>Barbell Good Mornings</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/qY5R9eEMx9g" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  