<carousel></carousel>

<div class="left">
  <h2 class="padding">Crossfit Workout of the Day:</h2>
  <p class="padding">
    Tabata push jerk<br />
    Rest 3 minutes<br />
    Tabata chest-to-bar pull-up<br />
    Rest 3 minutes<br />
    Tabata push-up<br />
    Rest 3 minutes<br />
    Tabata hang power snatch<br />
    <br />
    The Tabata interval is 20 seconds of work followed by 10 seconds of rest for 8 intervals.<br />
    <br />
    Men: 95 lb.<br />
    Women: 65 lb.<br />
  </p>
</div>
<div class="right">
    <p class="padding" >
        Scaling<br/>
        The rest periods should allow you to be mostly recovered and approach the next exercise with intensity. Scale the loading and movements to a level that allows you to work for the full 20 seconds during the first few intervals.<br/>
        <br/>
        Intermediate Option<br/>
        Tabata push jerk<br/>
        Rest 3 minutes<br/>
        Tabata pull-up<br/>
        Rest 3 minutes<br/>
        Tabata push-up<br/>
        Rest 3 minutes<br/>
        Tabata hang power snatch<br/>
        <br/>
        Men: 75 lb.<br/>
        Women: 55 lb.<br/>
        <br/>
        Beginner Option<br/>
        Tabata push jerk<br/>
        Rest 3 minutes<br/>
        Tabata jumping pull-up<br/>
        Rest 3 minutes<br/>
        Tabata knee push-up<br/>
        Rest 3 minutes<br/>
        Tabata hang power snatch<br/>
        <br/>
        Men: 45 lb.<br/>
        Women: 35 lb.<br/>
    </p>
</div>