<nav class='navbar'>
  <span>Workout Guide &nbsp; | </span>
  <ul>
    <li><a (click)="navigate('home')">Home</a></li>
    <li>  <div class="dropdown">
        <button class="dropbtn">Exercises 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a (click)="navigate('biceps')">Biceps</a>
          <a (click)="navigate('triceps')">Triceps</a>
          <a (click)="navigate('chest')">Chest</a>
          <a (click)="navigate('shoulders')">Shoulders</a>
          <a (click)="navigate('legs')">Legs</a>
        </div>
      </div> </li>
    <li><a (click)="navigate('guide')">Workouts</a></li>
    <li><a (click)="navigate('about')">About</a></li>
  </ul>
</nav>
