<div class="left">
    <h4>Standing Overhead Barbell Press</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/RWw9njxYZ_4" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen frameborder="0"></iframe>
      
  </div>
  <div class="right">
    <h4>Dumbbell Lateral Raises</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/ZuUy0T5mv4w" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  
  <div class="left">
    <h4>Dumbbell Vertical Raises</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/TcAMpNMvHCE" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  <div class="right">
    <h4>Dumbbell Shrugs</h4>
    <iframe width="653" height="380" src="https://www.youtube.com/embed/f-3eb3jiHLc" frameborder="0" allow="autoplay; encrypted-media"
      allowfullscreen></iframe>
  </div>
  